.header {
    background: url(../images/pattern2.svg);
    padding: 55px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: auto;
}