.header__search-form {
    display: flex;
    min-width: 500px;
    border-radius: var(--radius);
    background-color: white;
}

.header__search-form__input {
    margin: 0;
    padding: 13px;
    border: none;
    width: 100%;
    font-size: 0,9333333333333333rem;
    line-height: 2,857142857142857rem;
    color: var(--placeholder-color);
    background-color: transparent;
}

.header__search-form__button {
    padding: 0 16px;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1,285714285714286rem;
    color: var(--color2);
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.header__search-form__button__image {
    padding-right: 10px;
}

.header__search-form__button__text {
    padding-right: 16px;
}